<h2>About the Author</h2>
<div class="about-author-card card">
    <div class="about-author-image-card">
        <img src="/images/avatars/avatar{{author.avatarId}}.svg">
    </div>
    <div class="about-author-info-card">
        <div>
            <h3>{{author.name}}</h3>
            <h4>@{{author.username}}</h4>
            <p>{{author.aboutMe}}</p>
        </div>
    </div>
</div>