<h1 class="branding-secondary-2-color text-center">Warning!</h1>
<p>This will delete your account and all other associated articles with it, including any comments you made. </p>
<p>Are you sure you would like to continue?</p>
<div class="flex-row justify-center align-center">
    <a href="/logoutAndDelete" class="button button-primary">Yes</a>
    <div id="confirmation-no-btn" class="button button-secondary">No</div>
</div>