<h1 class="branding-secondary-2-color text-center">Warning!</h1>
<p>Are you sure you want to delete this article?</p>
<div class="flex-row justify-center align-center">
    <a href="/articles/{{article.id}}/delete" class="button button-primary">Yes</a>
    <div id="confirmation-no-btn" class="button button-secondary">No</div>
</div>