<footer class="footer">

    <div class="footer-container-1">
        <div class="footer-con-1-col-1">
            <div class="footer-brand-container">
                <div class="footer-brand-1">
                    <img src="/images/branding/logo-white.svg">
                </div>
                <div class="footer-brand-2">
                    <h1 class="magenta-magpie-brand-2">Magenta Magpie</h1>
                </div>
            </div>
            <div class="footer-message">
                <p>A blog site for anything Magenta and anything Magpie! Follow us on the following social media</p>
            </div>
            <div class="footer-social-media-links">
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="footer-con-1-col-2">

            <div>
                <h3>Links</h3>
                <ul>
                    <li><a href="#header">Return to Top</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                </ul>
            </div>

        </div>

        <div class="footer-con-1-col-3">

            <div>
                <h3>Tools</h3>
                <div class="footer-tools-link-container">
                    <a href="https://github.com/UOA-COMPSCI719/cs719-final-project-s2-2021-magenta-magpie"><i
                            class="fa fa-github"></i></a>
                    <a href="https://trello.com/b/mRU8s39J/magenta-magpie"><i class="fa fa-trello"
                                                                              aria-hidden="true"></i>
                    </a>
                    <a href="https://uoacompsci719-wnk5152.slack.com/ssb/redirect"><i class="fa fa-slack"
                                                                                      aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div class="footer-container-2">
        <p>Want to build awesome websites like this? Visit <a href="https://www.auckland.ac.nz">The University of Auckland's</a> <a href="https://www.ictgraduateschool.ac.nz">Auckland ICT Graduate School</a>
        </p>
    </div>

</footer>