<div class="hero-image-container">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Your #1 Source of Anything Magenta and Anything Magpie!</h1>
            <h4>We are a blog site dedicated to anyone who loves to write anything about the colour Magenta or the Magpie bird... And you can also get your latest news here!</h4>
            <a href="/about">
                <button class="button button-primary">About</button>
            </a>
            <a href="/contactUs">
                <button class="button button-tertiary-1">Contact Us</button>
            </a>
        </div>
    </div>
</div>