<div class="container">
    <h1 id="top" class="text-center">Blog Posts under <span class="h1-highlight">{{category.name}}</span> Category</h1>
    <p class="text-center">{{category.description}}</p>
    {{>all-articles}}
    {{>pagination}}
</div>