<div class="container">

    <h1>Sign in</h1>
    <form action="./login" method="POST">
        <div class="flex-col mb">
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" id="txtUsername" required>
        </div>

        <div class="flex-col mb">
            <label for="txtPassword">Password:</label>
            <input type="password" name="password" id="txtPassword" required>
        </div>

        <div class="flex-row justify-sb align-center">
            <button type="submit" class="button button-primary">Sign in</button>
        </div>
    </form>

    <p>Don't have an account? <a href="./accounts/create">Create one here.</a></p>

</div>