<div class="container">
    <h1>Reset Password</h1>
    <form action="/accounts/processResetPassword" method="GET">
        <div class="flex-col mb">
            <label for="txtPassword">Enter your old Password:</label>
            <input type="password" name="currentPassword" id="txtPassword" required>
        </div>

        <div class="flex-col mb">
            <label for="txtPassword2">Enter your new Password:</label>
            <input type="password" name="newPassword" id="txtPassword2" required>
        </div>
        <div class="flex-col mb">
            <label for="txtPassword2">Re-Enter your new Password:</label>
            <input type="password" name="newPassword2" id="txtPassword2" required>
        </div>
        <div class="flex-row justify-center align-center">
            <button type="submit" class="button button-primary">Save</button>
            <a href="/accounts/{{user.id}}/edit" class="button button-secondary">Cancel</a>
        </div>
    </form>
</div>